.display-experience-wrapper {
  margin-left: 10rem;
  margin-right: 2rem;
  width: calc(90%-12rem);
  grid-column: 2/3;
  grid-row: 2/3;

  &:last-child {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 400;
  }
}